body {
    font-family: sans-serif;
}
li{
    color: black;
}
h1{
color: wheat;
}

main{
    background-color: white
}
.link-header{
font-size: 25px;
border: 30px;
background-color: blue;
font-style: none;
color: white;
}
